
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
</head>

<body>



    <style> .container {display: flex;justify-content: center;align-items: center;} .item {margin: auto;} </style> <div class="container">
    <div class="item" id="qxTxqfDDTmNj" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_qxTxqfDDTmNj = echarts.init(document.getElementById('qxTxqfDDTmNj'), "white", { renderer: "canvas" });
    let option_qxTxqfDDTmNj = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":128},{"value":265},{"value":73},{"value":252},{"value":166},{"value":228},{"value":143}]},{"name":"Category B","type":"bar","data":[{"value":132},{"value":32},{"value":199},{"value":255},{"value":102},{"value":158},{"value":242}]}],"title":{"text":"basic bar example","subtext":"This is the subtitle."},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_qxTxqfDDTmNj.setOption(option_qxTxqfDDTmNj);
</script> <div class="container">
    <div class="item" id="lTIkEsOgGZnZ" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_lTIkEsOgGZnZ = echarts.init(document.getElementById('lTIkEsOgGZnZ'), "white", { renderer: "canvas" });
    let option_lTIkEsOgGZnZ = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{"right":"80%"},"series":[{"name":"Category A","type":"bar","data":[{"value":279},{"value":190},{"value":115},{"value":274},{"value":194},{"value":84},{"value":92}]},{"name":"Category B","type":"bar","data":[{"value":135},{"value":247},{"value":50},{"value":146},{"value":153},{"value":297},{"value":180}]}],"title":{"text":"title and legend options","link":"https://github.com/go-echarts/go-echarts","subtext":"go-echarts is an awesome chart library written in Golang","right":"40%"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_lTIkEsOgGZnZ.setOption(option_lTIkEsOgGZnZ);
</script> <div class="container">
    <div class="item" id="IYEueIZNPWtP" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_IYEueIZNPWtP = echarts.init(document.getElementById('IYEueIZNPWtP'), "white", { renderer: "canvas" });
    let option_IYEueIZNPWtP = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{"right":"80px"},"series":[{"name":"Category A","type":"bar","data":[{"value":286},{"value":271},{"value":211},{"value":279},{"value":54},{"value":226},{"value":6}]},{"name":"Category B","type":"bar","data":[{"value":104},{"value":134},{"value":108},{"value":297},{"value":254},{"value":106},{"value":112}]}],"title":{"text":"tooltip options"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_IYEueIZNPWtP.setOption(option_IYEueIZNPWtP);
</script> <div class="container">
    <div class="item" id="TFVXoBHFYQLS" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_TFVXoBHFYQLS = echarts.init(document.getElementById('TFVXoBHFYQLS'), "white", { renderer: "canvas" });
    let option_TFVXoBHFYQLS = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":277},{"value":101},{"value":139},{"value":261},{"value":101},{"value":217},{"value":282}]},{"name":"Category B","type":"bar","data":[{"value":29},{"value":174},{"value":61},{"value":282},{"value":227},{"value":125},{"value":255}]}],"title":{"text":"toolbox options"},"toolbox":{"right":"20%","feature":{"saveAsImage":{"type":"jpg","title":"Anything you want"},"dataView":{"title":"DataView","lang":["data view","turn off","refresh"],"backgroundColor":""}}},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_TFVXoBHFYQLS.setOption(option_TFVXoBHFYQLS);
</script> <div class="container">
    <div class="item" id="ZFLptPAhXNkZ" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_ZFLptPAhXNkZ = echarts.init(document.getElementById('ZFLptPAhXNkZ'), "white", { renderer: "canvas" });
    let option_ZFLptPAhXNkZ = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":89},{"value":215},{"value":254},{"value":75},{"value":58},{"value":156},{"value":55}],"label":{"position":"top"}},{"name":"Category B","type":"bar","data":[{"value":245},{"value":201},{"value":147},{"value":251},{"value":11},{"value":104},{"value":176}],"label":{"position":"top"}}],"title":{"text":"label options"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_ZFLptPAhXNkZ.setOption(option_ZFLptPAhXNkZ);
</script> <div class="container">
    <div class="item" id="cGCCEnNaOzcp" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_cGCCEnNaOzcp = echarts.init(document.getElementById('cGCCEnNaOzcp'), "white", { renderer: "canvas" });
    let option_cGCCEnNaOzcp = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":4},{"value":206},{"value":220},{"value":279},{"value":90},{"value":164},{"value":133}]},{"name":"Category B","type":"bar","data":[{"value":68},{"value":46},{"value":156},{"value":73},{"value":18},{"value":14},{"value":242}]}],"title":{"text":"display the axes name"},"toolbox":{},"tooltip":{},"xAxis":[{"name":"XAxisName","data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{"name":"YAxisName"}]}

    goecharts_cGCCEnNaOzcp.setOption(option_cGCCEnNaOzcp);
</script> <div class="container">
    <div class="item" id="XXoIptjDQASL" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_XXoIptjDQASL = echarts.init(document.getElementById('XXoIptjDQASL'), "white", { renderer: "canvas" });
    let option_XXoIptjDQASL = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":260},{"value":72},{"value":63},{"value":128},{"value":219},{"value":185},{"value":35}]},{"name":"Category B","type":"bar","data":[{"value":84},{"value":110},{"value":269},{"value":11},{"value":129},{"value":123},{"value":291}]}],"title":{"text":"customized the xaxis/yaxis formatter"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],"axisLabel":{"formatter":"{value} x-unit","showMinLabel":null,"showMaxLabel":null}}],"yAxis":[{"axisLabel":{"formatter":"{value} y-unit","showMinLabel":null,"showMaxLabel":null}}]}

    goecharts_XXoIptjDQASL.setOption(option_XXoIptjDQASL);
</script> <div class="container">
    <div class="item" id="lmRLPAvOmJpv" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_lmRLPAvOmJpv = echarts.init(document.getElementById('lmRLPAvOmJpv'), "white", { renderer: "canvas" });
    let option_lmRLPAvOmJpv = {"color":["blue","pink","#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":235},{"value":119},{"value":213},{"value":66},{"value":45},{"value":172},{"value":184}]},{"name":"Category B","type":"bar","data":[{"value":42},{"value":86},{"value":245},{"value":218},{"value":42},{"value":210},{"value":4}]}],"title":{"text":"set user-defined colors"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_lmRLPAvOmJpv.setOption(option_lmRLPAvOmJpv);
</script> <div class="container">
    <div class="item" id="KdPhDfNKWwYY" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_KdPhDfNKWwYY = echarts.init(document.getElementById('KdPhDfNKWwYY'), "white", { renderer: "canvas" });
    let option_KdPhDfNKWwYY = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":107},{"value":101},{"value":75},{"value":192},{"value":1},{"value":130},{"value":41}]},{"name":"Category B","type":"bar","data":[{"value":166},{"value":249},{"value":199},{"value":174},{"value":82},{"value":189},{"value":144}]}],"title":{"text":"splitline options"},"toolbox":{},"tooltip":{},"xAxis":[{"name":"XAxisName","data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],"splitLine":{"show":true}}],"yAxis":[{"name":"YAxisName","splitLine":{"show":true}}]}

    goecharts_KdPhDfNKWwYY.setOption(option_KdPhDfNKWwYY);
</script> <div class="container">
    <div class="item" id="vMysYnEedrgi" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_vMysYnEedrgi = echarts.init(document.getElementById('vMysYnEedrgi'), "white", { renderer: "canvas" });
    let option_vMysYnEedrgi = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","barGap":"150%","data":[{"value":45},{"value":179},{"value":219},{"value":194},{"value":288},{"value":297},{"value":207}]},{"name":"Category B","type":"bar","barGap":"150%","data":[{"value":188},{"value":269},{"value":160},{"value":216},{"value":80},{"value":268},{"value":232}]}],"title":{"text":"set the gap of each bar"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_vMysYnEedrgi.setOption(option_vMysYnEedrgi);
</script> <div class="container">
    <div class="item" id="bZZSqcrPNNfX" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_bZZSqcrPNNfX = echarts.init(document.getElementById('bZZSqcrPNNfX'), "white", { renderer: "canvas" });
    let option_bZZSqcrPNNfX = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataZoom":[{"type":"inside","start":10,"end":50}],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":106},{"value":133},{"value":143},{"value":56},{"value":60},{"value":170},{"value":50}]},{"name":"Category B","type":"bar","data":[{"value":268},{"value":183},{"value":98},{"value":95},{"value":100},{"value":24},{"value":24}]}],"title":{"text":"datazoom options(inside)"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_bZZSqcrPNNfX.setOption(option_bZZSqcrPNNfX);
</script> <div class="container">
    <div class="item" id="sGDUOaYAeMoF" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_sGDUOaYAeMoF = echarts.init(document.getElementById('sGDUOaYAeMoF'), "white", { renderer: "canvas" });
    let option_sGDUOaYAeMoF = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataZoom":[{"type":"slider","start":10,"end":50}],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":96},{"value":283},{"value":44},{"value":275},{"value":261},{"value":60},{"value":3}]},{"name":"Category B","type":"bar","data":[{"value":90},{"value":262},{"value":285},{"value":140},{"value":288},{"value":72},{"value":243}]}],"title":{"text":"datazoom options(slider)"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_sGDUOaYAeMoF.setOption(option_sGDUOaYAeMoF);
</script> <div class="container">
    <div class="item" id="JnYJqOHRMVtR" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_JnYJqOHRMVtR = echarts.init(document.getElementById('JnYJqOHRMVtR'), "white", { renderer: "canvas" });
    let option_JnYJqOHRMVtR = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":130},{"value":18},{"value":166},{"value":215},{"value":90},{"value":85},{"value":293}]},{"name":"Category B","type":"bar","data":[{"value":250},{"value":191},{"value":292},{"value":48},{"value":38},{"value":255},{"value":267}]}],"title":{"text":"reverse xaxis and yaxis"},"toolbox":{},"tooltip":{},"xAxis":[{}],"yAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}]}

    goecharts_JnYJqOHRMVtR.setOption(option_JnYJqOHRMVtR);
</script> <div class="container">
    <div class="item" id="pFGbHYQdzFtf" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_pFGbHYQdzFtf = echarts.init(document.getElementById('pFGbHYQdzFtf'), "white", { renderer: "canvas" });
    let option_pFGbHYQdzFtf = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","stack":"stackA","data":[{"value":114},{"value":276},{"value":216},{"value":67},{"value":159},{"value":7},{"value":215}]},{"name":"Category B","type":"bar","stack":"stackA","data":[{"value":194},{"value":15},{"value":225},{"value":98},{"value":230},{"value":123},{"value":248}]}],"title":{"text":"stack style"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}
    goecharts_pFGbHYQdzFtf.setOption(option_pFGbHYQdzFtf);
</script> <div class="container">
    <div class="item" id="ZjYuGyFCyTlu" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_ZjYuGyFCyTlu = echarts.init(document.getElementById('ZjYuGyFCyTlu'), "white", { renderer: "canvas" });
    let option_ZjYuGyFCyTlu = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":100},{"value":233},{"value":109},{"value":4},{"value":27},{"value":13},{"value":281}],"markPoint":{"data":[{"name":"special mark","coord":["Mon",100],"label":{"show":true,"color":"pink","position":"inside"}},{"name":"Maximum","type":"max"},{"name":"Minimum","type":"min"}]}},{"name":"Category B","type":"bar","data":[{"value":5},{"value":17},{"value":16},{"value":236},{"value":78},{"value":126},{"value":201}],"markPoint":{"data":[{"name":"Maximum","type":"max"},{"name":"Minimum","type":"min"}]}}],"title":{"text":"markpoint options"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_ZjYuGyFCyTlu.setOption(option_ZjYuGyFCyTlu);
</script> <div class="container">
    <div class="item" id="HUSoLyaMZVGu" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_HUSoLyaMZVGu = echarts.init(document.getElementById('HUSoLyaMZVGu'), "white", { renderer: "canvas" });
    let option_HUSoLyaMZVGu = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":132},{"value":245},{"value":230},{"value":142},{"value":129},{"value":296},{"value":218}],"markLine":{"data":[{"name":"Maximum","type":"max"},{"name":"Avg","type":"average"}]}},{"name":"Category B","type":"bar","data":[{"value":188},{"value":278},{"value":249},{"value":257},{"value":280},{"value":1},{"value":128}],"markLine":{"data":[{"name":"Maximum","type":"max"},{"name":"Avg","type":"average"}]}}],"title":{"text":"markline options"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_HUSoLyaMZVGu.setOption(option_HUSoLyaMZVGu);
</script> <div class="container">
    <div class="item" id="MMQjCxRyIhJu" style="width:1200px;height:600px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_MMQjCxRyIhJu = echarts.init(document.getElementById('MMQjCxRyIhJu'), "white", { renderer: "canvas" });
    let option_MMQjCxRyIhJu = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"bar","data":[{"value":10},{"value":283},{"value":111},{"value":174},{"value":186},{"value":109},{"value":236}]},{"name":"Category B","type":"bar","data":[{"value":261},{"value":298},{"value":215},{"value":130},{"value":204},{"value":287},{"value":294}]}],"title":{"text":"adjust canvas size","subtext":"I want a bigger canvas size :)"},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"yAxis":[{}]}

    goecharts_MMQjCxRyIhJu.setOption(option_MMQjCxRyIhJu);
</script>






</body>
</html>
