<div>
  <h5>Opciones de comparativas</h5>
  <div class="menu-item">
    <label>Nacionalidad</label>
    <select>
      <option value="" disabled selected>Seleccione una opción</option>
      <option value="chile">Chilena</option>
      <option value="argentina">Argentina</option>
      <option value="peru">Peruana</option>
    </select>
  </div>
  <div class="menu-item">
    <label>Género</label>
    <select>
      <option value="" disabled selected>Seleccione una opción</option>
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
      <option value="otro">Otro</option>
    </select>
  </div>
  <div class="menu-item">
    <label>Comida Favorita</label>
    <select>
      <option value="" disabled selected>Seleccione una opción</option>
      <option value="pizza">Pizza</option>
      <option value="empanadas">Empanadas</option>
      <option value="ceviche">Ceviche</option>
    </select>
  </div>
</div>
