
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
</head>

<body>



    <style> .container {display: flex;justify-content: center;align-items: center;} .item {margin: auto;} </style> <div class="container">
    <div class="item" id="GhPheNbEbVdL" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_GhPheNbEbVdL = echarts.init(document.getElementById('GhPheNbEbVdL'), "white", { renderer: "canvas" });
    let option_GhPheNbEbVdL = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category B","type":"bar","data":[{"value":265},{"value":32},{"value":213},{"value":224},{"value":13},{"value":204}]}],"title":{"text":"Basic Bar Chart","subtext":"A simple bar chart."},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Apple","Banana","Peach","Lemon","Pear","Cherry"]}],"yAxis":[{}]}

    goecharts_GhPheNbEbVdL.setOption(option_GhPheNbEbVdL);
</script> <div class="container">
    <div class="item" id="koBmaJsDfBCR" style="width:900px;height:500px;"></div>
</div><script type="text/javascript">
    "use strict";
    let goecharts_koBmaJsDfBCR = echarts.init(document.getElementById('koBmaJsDfBCR'), "white", { renderer: "canvas" });
    let option_koBmaJsDfBCR = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"legend":{},"series":[{"name":"Category A","type":"line","data":[{"value":173},{"value":277},{"value":82},{"value":232},{"value":27},{"value":151}]}],"title":{"text":"Basic Line Example","subtext":"This is the subtitle."},"toolbox":{},"tooltip":{},"xAxis":[{"data":["Apple","Banana","Peach","Lemon","Pear","Cherry"]}],"yAxis":[{}]}

    goecharts_koBmaJsDfBCR.setOption(option_koBmaJsDfBCR);
</script>






</body>
</html>
