<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <!-- Incluir SweetAlert2 desde la CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="container-fluid">
        {{ template "header.html" . }}
        <div class="row">
            {{ template "sidebar.html" . }}
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div id="content" hx-target="#content">
                    <!-- Aquí se cargará el contenido dinámico de htmx -->
                </div>
            </main>
        </div>
       
        <footer class="footer bg-primary text-white text-center p-3">
            &copy; 2024 Mi Empresa
        </footer>
    </div>
    <!-- <script src="/static/scripts.js"></script> -->
     <script>

        // Verifica el rut 
         // Función para dar formato a medida que se escribe el RUT
         function formatearRUT() {
            const rutInput = document.getElementById("rut");
            let rut = rutInput.value.replace(/\./g, '').replace(/-/g, ''); // Eliminar puntos y guión

            if (rut.length > 1) {
                rut = rut.slice(0, -1).replace(/\B(?=(\d{3})+(?!\d))/g, ".") + "-" + rut.slice(-1); // Formato 11.111.111-1
            }
            
            rutInput.value = rut;
        }

        function buscaRut(rut){
        var url = `/user/find/${rut}`
                                fetch(url)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    // Supongamos que la API devuelve un objeto con una propiedad "exists"
                                    if (data.exists) {
                                        const rutInput = document.getElementById("rut").value;
                                        const [numero, digitoVerificador] = rutInput.split('-');
                                        document.getElementById("rut").value=numero;
                                        document.getElementById("rut").focus();
                                        console.log("El usuario existe.");
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Rut Ya Existe en la Base de datos',
                                            text: 'Favor Verifica el Rut',
                                        });
                                        return false
                                    } 
                                })
                                .catch(error => {
                                    console.error('Hubo un problema con la solicitud Fetch:', error);
                                });


        }


        // Función para capturar el "Enter" y validar el dígito verificador
        function validarEnter(event) {
            if ( event.type === "blur" || event.type === "focus"  ) {
                const rutInput = document.getElementById("rut").value;
                const [numero, digitoVerificador] = rutInput.split('-');
                console.log(event.type)
                // Validar sólo si el número y el dígito verificador están presentes
                if (numero && digitoVerificador) {
                    if (validarRUT(numero.replace(/\./g, ""), digitoVerificador.toUpperCase())) {
                        // document.getElementById("resultado").innerText = "RUT válido";
                        document.getElementById("rut2").value=numero.replace(/\./g, "")
                        document.getElementById("dv").value=digitoVerificador;
                        //document.getElementById("nombres").focus();
                        buscaRut(numero.replace(/\./g, ""))
                    } else {
                        //document.getElementById("rut").value = "1234";
                        document.getElementById("rut").focus();
                        Swal.fire({
                            icon: 'error',
                            title: 'Rut Invalido',
                            text: 'Favor Verifica el Rut',
                        });

                        //event.stopPropagation();
                        return;
                        // document.getElementById("resultado").innerText = "RUT inválido";
                    }
                } else {
                    //document.getElementById("resultado").innerText = "RUT incompleto";
                }
            }
        }

        // Función para validar el dígito verificador
        function validarRUT(numero, digitoVerificador) {
            let suma = 0;
            let multiplicador = 2;

            // Invertir los dígitos del RUT y recorrerlos
            for (let i = numero.length - 1; i >= 0; i--) {
                suma += parseInt(numero[i]) * multiplicador;
                multiplicador = multiplicador === 7 ? 2 : multiplicador + 1;
            }

            const resto = suma % 11;
            const dvCalculado = 11 - resto;

            // Condiciones para determinar el dígito verificador
            if (dvCalculado === 10) return digitoVerificador === 'K';
            if (dvCalculado === 11) return digitoVerificador === '0';

            return digitoVerificador === dvCalculado.toString();
        }


        function calcularEdad(fechaNacimiento) {
            const hoy = new Date();
            const nacimiento = new Date(fechaNacimiento);
            let edad = hoy.getFullYear() - nacimiento.getFullYear();
            const mes = hoy.getMonth() - nacimiento.getMonth();

            // Ajustar la edad si el cumpleaños aún no ha ocurrido este año
            if (mes < 0 || (mes === 0 && hoy.getDate() < nacimiento.getDate())) {
                edad--;
            }
            return edad;
        }

        function confirmarEnvio(origen) {
                // Obtiene los elementos del formulario
                const rut = document.getElementById('rut').value.trim();

                const nombres = document.getElementById('nombres').value.trim();
                const apellido_paterno = document.getElementById('apellido_paterno').value.trim();
                const apellido_materno = document.getElementById('apellido_materno').value.trim();
                const email = document.getElementById('email').value.trim();
                const edad = document.getElementById('edad').value.trim();
                const fecha_nacimiento = document.getElementById('fecha_nacimiento').value.trim();
                const comuna = document.getElementById('comuna').value.trim();
                const direccion = document.getElementById('direccion').value.trim();
                const serie_juega = document.getElementById('serie_juega').value.trim();
                const club_juega = document.getElementById('club_juega').value.trim();
                const foto = document.getElementById('foto').files[0];

 
                const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Expresión regular para formato de email

                if (!regex.test(email)) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Correo Inválido',
                                text: 'Por favor, ingrese un correo válido.',
                                });
                             return false;
                        
                }else{
                
                    /* VALIDAR FECHA NACIMIENTO CON EDAD*/
                    const edadCalculada = calcularEdad(fecha_nacimiento);

                    if (parseInt(edad) !== edadCalculada) {
                                // Muestra un mensaje específico para el campo vacío
                                Swal.fire({
                                    icon: 'error',
                                    title: `La edad ingresada (${edad}) no coincide con la fecha de nacimiento.`,
                                    text: `Por favor, Modificala.`
                                });
                                return false; // Detener la función si falta un campo

                    }
                    if(origen == 'editar'){
                    var campos = {
                        rut:"Rut",
                        nombres: 'Nombres',
                        apellido_paterno: 'Apellido Paterno',
                        apellido_materno: 'Apellido Materno',
                        email: 'Correo Electrónico',
                        edad: 'Edad',
                        fecha_nacimiento: 'Fecha de Nacimiento',
                        comuna: 'Comuna',
                        direccion: 'Dirección',
                        club_juega: 'Club Juega',                    
                        serie_juega: 'Serie Juega',
                        historial : 'Historial Deportivo'
                        };
                    }else{
                        var campos = {
                        rut:"Rut",
                        nombres: 'Nombres',
                        apellido_paterno: 'Apellido Paterno',
                        apellido_materno: 'Apellido Materno',
                        email: 'Correo Electrónico',
                        edad: 'Edad',
                        fecha_nacimiento: 'Fecha de Nacimiento',
                        comuna: 'Comuna',
                        direccion: 'Dirección',
                        club_juega: 'Club Juega',                    
                        serie_juega: 'Serie Juega',
                        historial : 'Historial Deportivo',
                        foto: 'Foto'
                        };
                    }
                    
                     // Función para validar campos vacíos
                    for (let campo in campos) {
                            const valor = document.getElementById(campo)?.value || ''; // Obtiene el valor del campo (si existe)
                            
                            if (!valor) {
                                // Muestra un mensaje específico para el campo vacío
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Campo incompleto',
                                    text: `Por favor, llena el campo ${campos[campo]}.`
                                });
                                return false; // Detener la función si falta un campo
                            }
                        }
                }              
     
               
                // Verificar si se ha seleccionado un archivo
                const inputFile = document.getElementById('foto');
                if ( (inputFile.files.length != 0 && origen=='editar') || origen=='ingresar' ) {

                            // Validar la extensión del archivo
                    const fileName = inputFile.files[0].name;
                    const extPermitidas = /(.png|.jpg|.jpeg|.gif)$/i;
            
                        if (!extPermitidas.exec(fileName)) {
                                Swal.fire({
                                icon: 'error',
                                title: 'Tipo de archivo no permitido',
                                text: 'La imagen debe ser de tipo JPG o PNG.',
                            });
                            return false; // Prevenir el envío del formulario
                        }
                        if (foto.size > 2 * 1024 * 1024) { // 2 MB límite
                            Swal.fire({
                                icon: 'error',
                                title: 'Archivo demasiado grande',
                                text: 'La imagen debe ser menor de 2 MB.',
                            });
                            return;
                        }
                    }

        
                // Validar el tamaño y tipo del archivo de imagen
                // const validImageTypes = ['image/jpeg', 'image/png'];
                // if (!validImageTypes.includes(foto.type)) {
                //     Swal.fire({
                //         icon: 'error',
                //         title: 'Tipo de archivo no permitido',
                //         text: 'La imagen debe ser de tipo JPG o PNG.',
                //     });
                //     return;
                // }

                // Confirmación de envío
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Deseas guardar este usuario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = document.getElementById('edit-form');
                        const formData = new FormData(form); // Crear un objeto FormData con los datos del formulario
                        
                        // Enviar el formulario mediante fetch
                        fetch(form.action, {
                            method: 'POST',
                            body: formData,
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error en la respuesta del servidor');
                            }
                            return response.text(); // O response.json() si esperas un JSON
                        })
                        .then(data => {

                            document.getElementById('content').innerHTML = data; // Muestra la respuesta en el div
                            //$('#example').DataTable();
                            
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            document.getElementById('content').innerHTML = 'Error al subir la imagen.';
                        });
                    }
                });
            }
            function confirmDelete(url) {
               // alert(url)
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Deseas Eliminar este registro?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {

                        htmx.ajax('DELETE', url, { 
                            target: content, // El elemento que se actualizará
                            swap: 'innerHTML' // Cómo se actualizará el contenido
                           

                        });
                        //htmx.trigger(htmx.find("#create-form"), "submit");
                        
                    }
                });
            }
            function confirmarModificaClub(url) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Deseas guardar los cambios?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = document.getElementById('edit_form');
                        
                        // Asegúrate de que el formulario tiene el atributo `hx-post` para que HTMX lo maneje.
                        // form.setAttribute('hx-post', url);
                        // form.setAttribute('hx-target', '#content'); // Elemento que se actualizará
                        // form.setAttribute('hx-swap', 'outerHTML'); // Cómo se intercambia el contenido
                        
                        // Dispara el envío del formulario
                        htmx.trigger(form, 'submit');
                    }
                });
            }
            
     </script>
</body>
</html>
<style>
    /* styles.css */
.sidebar .nav-link {
    color: #007bff; /* Color de texto */
}

.sidebar .nav-link:hover {
    background-color: #e7f1ff; /* Color de fondo en hover */
}

.sidebar .btn {
    width: 100%; /* Botones de ancho completo */
    text-align: left; /* Alinear texto a la izquierda */
    border: none; /* Sin bordes para un estilo más limpio */
}
 /* Class */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

</style>
