<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="#" hx-get="/listUsers" hx-target="#content">Listar Usuarios</a></li>
        <li class="nav-item"><a class="nav-link active" href="#" hx-get="/listClubs" hx-target="#content">Listar Clubes</a></li>
        <li class="nav-item"><a class="nav-link active" href="#" hx-get="/createUser" hx-target="#content">Crear Usuario</a></li>
        <li class="nav-item"><a class="nav-link active" href="#" hx-get="/createClub" hx-target="#content">Crear Club</a></li>
    </ul>
</nav>
